In [1]:
import pandas as  pd
import numpy as np
from source import youtube

In [2]:
def extract_ytchannel_metadata(res, save_csv=None):
    titles = []
    published = []
    videoIds = []

    for i in range(len(res)):
        titles.append(res[i]['snippet']['title'])
        published.append(res[i]['snippet']['publishedAt'])
        videoIds.append(res[i]['snippet']['resourceId']['videoId'])

    data = np.stack([titles, videoIds, published])
    data = data.T
    df = pd.DataFrame(data, columns=['titles', 'videoIds', 'publishedAt'])
    df.head()

    if save_csv is not None:
        df.to_csv(save_csv, index=None)
        
    return df

In [5]:
nass = youtube.get_channel_videos('UUF45Z0qCtC3QEB6yoBKMUJQ')
nass_df = extract_ytchannel_metadata(nass, "../nass_04062021.csv")

In [6]:
nass_df.head(10)

,titles,videoIds,publishedAt
0,Federal University of Agriculture Ugbawka: Hon...,pn0WjQvwsSQ,2022-04-12T15:25:57Z
1,Anambra Kidnap: I Suspect IPOB Militants - Hon...,PWnaQsgp4Uk,2022-03-04T12:54:32Z
2,Bill to Exempt Police from Contributory Pensio...,7Kpp3wnohS0,2022-02-23T10:34:56Z
3,"Lift Embargo On Employment Into Customs, NSCDC...",JgV-LR0AFF8,2021-12-02T10:22:51Z
4,"Paper On Net Zero Laws, NDCs And Green Recover...",8zRu0Q3tWak,2021-11-11T13:52:26Z
5,Summon FCT Minister Over Abandoned Infrastruct...,W50xybIGpDU,2021-11-09T15:33:17Z
6,Seven Members Impeach Plateau Assembly Speaker...,42okUMisN38,2021-11-08T15:22:18Z
7,Nigeria College of Aviation Technology: Oversi...,Ux2-iRHg4_0,2021-11-08T15:00:03Z
8,"NCAT, Abuja School Building Project: Visit By ...",6SD6Y0SKouQ,2021-11-08T14:09:03Z
9,Public Hearing: House Committee On Privatisati...,_MyCd6G3oU8,2021-10-28T14:21:44Z

In [10]:
vid_url = []

for line in nass_df["videoIds"]:
    url = "https://www.youtube.com/watch?v="+line
    vid_url.append(url)

In [13]:
nass_df['video_urls'] = vid_url

In [39]:
import sqlite3

In [40]:
conn = sqlite3.connect('opennass.db')
curr = conn.cursor()



conn.commit()

In [42]:
def extract_ytchannel_to_db(res, sqlDB=None):
    titles = []
    published = []
    videoIds = []

    for i in range(len(res)):
        titles.append(res[i]['snippet']['title'])
        published.append(res[i]['snippet']['publishedAt'])
        videoIds.append(res[i]['snippet']['resourceId']['videoId'])

    
    conn = sqlite3.connect(sqlDB)
    c = conn.cursor()
    c.execute('''create table opennass(titles text,
    publised text,
    videoIds text
    )''')
    conn.commit()



    if sqlDB is not None:
        c.execute(''' INSERT INTO opennass VALUES(?,?,?)''',(titles, published, videoIds))
        conn.commit()
        
    return

In [43]:
res = youtube.get_channel_videos('UUF45Z0qCtC3QEB6yoBKMUJQ')

In [41]:
curr.execute('''create table onass(titles text,
    publised text,
    videoIds text
    )''')
conn.commit()

In [49]:
titles = []
published = []
videoIds = []

for i in range(len(res)):
        titles.append(res[i]['snippet']['title'])
        published.append(res[i]['snippet']['publishedAt'])
        videoIds.append(res[i]['snippet']['resourceId']['videoId'])

In [51]:
curr.execute(''' INSERT INTO onass VALUES(?,?,?)''',(titles, published, videoIds))
conn.commit()

NameError: name 'c' is not defined

In [ ]:
def data_entry():
    res_df.to_sql('onass', conn, if_exists='replace')
    conn.commit()
    curr.close()
    conn.close()
 
data_entry()